@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-gradient-border {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(120deg, rgb(104, 63, 231) 15%, rgb(202, 44, 178) 50%, rgb(253, 144, 16) 100%) border-box;
  border: 2px solid transparent;
}

.card-hover-gradient {
  transition: all 0.3s ease;
}

.card-hover-gradient:hover {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(120deg, rgb(104, 63, 231) 15%, rgb(202, 44, 178) 50%, rgb(253, 144, 16) 100%) border-box;
  border: 1px solid transparent;
}

@media (max-width: 1500px) {
  .date-user-container {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  
  .date-user-container .separator {
    display: none !important;
  }
  
  .date-user-container .user-name {
    margin-top: 0 !important;
  }
}

